@page
@model CandidateManageWebsite.Pages.JobPostingPages.IndexModel

@{
    ViewData["Title"] = "Index";
    string? roleID = HttpContext.Session.GetString("RoleID");

    if (string.IsNullOrEmpty(roleID) || (roleID != "1" && roleID != "2" && roleID != "3"))
    {
        Response.Redirect("/NoPermission");
    }
}

<h1>Job Posting Management</h1>

@{
    if (roleID == "1")
    {
        <p>
            <a asp-page="Create" class="btn btn-primary">Add New Job Posting</a>
        </p>
    }
}

<script>
    var roleId = '@roleID';
</script>

<table id="tblJobPosting" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobPosting[0].JobPostingTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPosting[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPosting[0].PostedDate)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

<script src="~/js/jobPosting.js"></script>
