@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    String RoleID = HttpContext.Session.GetString("RoleID");
    if (RoleID == null) 
        Response.Redirect("/Login");
    else 
        Response.Redirect("/ChoosePage");
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href = "/CandidateProfilePages">CandidateProfilePages</a>
</div>
