@page
@model CandidateManageWebsite.Pages.LoginModel

@{
    ViewData["Title"] = "Login page";
}

<div class="form-container">
    <div class="col-md-4">
        <div class="text-center">
            <h1 class="display-4">Login</h1>
        </div>
        <br />
        <form method="post"> 
            <div class="form-group">
                <label for="txtEmail" class="text-primary">Email:</label>
                <input type="email" id="txtEmail" name="txtEmail" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="txtPassword" class="text-primary">Password:</label> 
                <input type="password" id="txtPassword" name="txtPassword" class="form-control" required />
            </div>
            <div class="form-group" id="btnLogin">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
